<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td><input type="radio" name="gender" value="Male">
            <input type="radio" name="gender" value="Female"></td>
        </tr>
        <tr>Country</tr>
        <td><select name="country">
            <option value="">--select--</option>
            <option value="India">India</option>

        </select>
        </td>
    </table>
</body>
</html>